<h1>👋 Hey there, I'm Sergi!</h1>
<img align="right" src="https://raw.githubusercontent.com/ABSphreak/ABSphreak/master/gifs/Hi.gif" width='150'/>

[![LinkedIn](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/sergigarrigamas)
[![Github](https://img.shields.io/badge/GitHub-12100E?style=for-the-badge&logo=github&logoColor=white)](https://github.com/sergigarriga)

I'm a Data Engineer and AWS Cloud Solutions Architect from Barcelona, passionate about bridging the gap between data and reality. I enjoy building data solutions and contributing to open-source projects.

## 👨‍💻 Technical Skills

- **Languages:** Python, SQL, C, Groovy, R, Bash, MATLAB [cite: 13]
- **Frameworks & Libraries:** Jupyter, Matplotlib, NumPy, Pandas, Scikit-learn, PyTorch, TensorFlow, Keras, Flask [cite: 13]
- **Cloud Computing:** AWS (CDK + Boto3), CI/CD Pipelines, Serverless Architectures, Docker, Spark, ETL Pipelines [cite: 13]
- **Software Development:**  Algorithms, Git, CLI, Agile Methodology, DevOps Lifecycles [cite: 13]
- **Databases:** MongoDB [cite: 13]

## ⭐️ Open Source Projects

*You can add your open-source projects here. If you don't have any yet, consider starting one! It's a great way to learn and contribute to the community.*

## 📊  Experience

- **Data Engineer & Solutions Architect** at Boehringer Ingelheim IT Department [cite: 4]
    - Designing and implementing data pipelines and data solutions. [cite: 5]
- **Data Trainee** at Boehringer Ingelheim IT Department [cite: 6]
    - Gained experience in data analysis and engineering. [cite: 6]
- **Data Analyst & Engineer Intern** at PortAventura World Data Department [cite: 7]
    - Gained experience in data analysis and engineering. [cite: 7]

## 🎓 Education

- **Universitat Autònoma de Barcelona** - Bachelor's Degree in Data Engineering and Information Technology (GPA: 8.05/10) [cite: 9]

## 🏆 Honors & Awards

- **2023** - Student Prize, AWS Iberia Hackathon Hackathon4Good - Cloud & Social Impact [cite: 12]
- **2022** - 1st Prize, Boehringer Ingelheim 6th Hackathon Comprometidos Por El Futuro - Tech & Sustainability [cite: 12]
- **2022** - 2nd Prize, Dedalus 1st Datathon Data4Health - Tech & HealthCare [cite: 12]

------------
<p align="center">Last updated: {{refresh_date}}</p>
